language: node_js
node_js:
  - lts/*
install:
  - npm install -g codecov
  - npm install
script:
  # - istanbul cover ./node_modules/mocha/bin/_mocha --reporter lcovonly -- -R spec
  - npm test
  - codecov
